.hero-unit
  .hidden-phone
    %h1 Verzameling 
  .visible-phone
    %h2 Verzameling
  %p 
    Op deze pagina is het de bedoeling dat je een lijst kunt samenstellen van je verzameling.
  %p
    Het moet mogelijk zijn om:
    %ul
      %li je verzameling te beheren
      %li items aan je verzameling toe te voegen
      %li items uit je verzameling aan te bieden voor de verkoop
      %li items voor je verzameling te kopen

.row
  .span4
    %h2 Hoe?
    %p 
      Dat weet ik nog 
      %span.label.label-important niet
      \.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .span4
    %h2 Waarom?
    %p 
      Dat weet ik nog 
      %span.label.label-important helemaal niet
      \.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .span4
    %h2 Waar?
    %p 
      Dat weet ik nog 
      %span.label.label-important helemaal niet
      \.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
%hr
%footer
  %p
    &copy; Jeroen 2012