%html
  %head
    %title Collections
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ :name => "viewport", :content => "width=device-width", :'initial-scale' => "1.0" }
%body
  .container
    %h1 Verzamelingen - Synthesizers
    #breadcrumb
    .row-fluid
      .span2
        %ul.nav.nav-list
          %li.nav-header
            List header
          %li.active
            %a{:href => "#"}
              Home
          %li
            %a{:href => "#"}
              Test
      = content_tag "div", yield, :id => "container", :class => "span10", :data => {:items => Item.all}
